.container--newsletter {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1598px;
    padding: 40px 0;
    border-bottom:  1px solid #efefef;
    border-top: 1px solid #efefef;
    gap: 50px;
    margin:80px auto 64px auto;
    width: 90%;
}

.container--newsletter h3 {
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    color: #000;
}

.box--newsletter input {
    padding-left: 24px;
    width: 630px;
    height: 40px;
    border-radius: 4px;
    outline: none;
    border: 1px solid #353535;
}

@media (max-width: 800px) {

    .container--newsletter {
        width: 100% !important;
        flex-direction: column;
        margin: 40px auto 40px auto!important ;
        gap: 15px !important;
    }

    .box--newsletter input {
        width: 204px !important;
    }
}