.footer--description{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 64px;
}
.footer-link{
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 26px;
    color: #000;

}
.footer-copy{
    display: flex;
    background: #353535;
    justify-content: space-around;
    align-items: center;
    height: 85px;
}

.footer--medias,.footer--payment,.footer--logo{
    display: flex;
    align-items: center;
    gap: 40px;
}