.marca--img {

    max-width: 308px;
    height: 64px;
    width: 100%;
}

.container--marcas {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1598px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 80px;
    width: 90%;
}

@media (max-width: 800px) {

    div.container--marcas {
        flex-direction: column;
        width: 100%;
    }
}