.marca--img {

    max-width: 308px;
    height: 64px;
    width: 100%;
}

.container--marcas {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1598px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 80px;
    width: 90%;
}
.container--marcas .marcas-desktop{
    display: block;
}
.marcas-mobile{
    display: none;
}

@media (max-width: 800px) {
    div.container--marcas.marcas-desktop{
        display: none;
    }

    div.container--marcas.marcas-mobile{
        display: block;
    }
    
    div.container--marcas {
        flex-direction: column;
        width: 100%;
        display: block;
        margin-left:5%;
        margin-bottom: 32px;
    }

    div.container--marcas > div > button.slick-arrow.slick-next,
    div.container--marcas > div > button.slick-arrow.slick-prev{
    display: none !important;
   }
   
}