.title--tipbar{
    font-size: 16px;
    text-align: center;
    margin: 20px;
}

.container--tipbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 1598px;
    margin-right: auto;
    margin-left: auto;
}

.description--tipbar{
font-size: 12px;
color: #000;
}