.title--tipbar {
    font-size: 16px;
    text-align: center;
    margin-top: 24px;
    margin-bottom: 16px;
}

.container--tipbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1598px;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 80px;
    gap:10px;
}

h4{
    font-size: 0.8rem;
}
.description--tipbar {
    font-size: 0.75rem;
    color: #000;
    font-family: 'Titillium Web';
}
@media (max-width: 800px) {

div.container--tipbar {
    flex-direction: column;
    width: 100%;
}

}